.items-section{
    padding: 60px 0;
     &::after{
       padding-top:70px;
    }
}

.button-block{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0 0 13px 0;
    li{
        list-style: none;
        margin: 0 3px 7px 7px;
    }
}

