.title{
    font-size: $font-size-title;
    line-height: 31.2px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    text-align: center;
}

.content-text{
    font-size: $font-size-content;
    line-height: 24px;
    letter-spacing: 0.15px;
    max-width:620px;
    text-align: center;
}

.block-line{
    &::after{
        content:"";
        display: block;
        max-width: 274px;
        height: 1px;
        border-bottom:1px solid $line-color;
        margin: 0 auto;
    }
}

.btn{
    font-size: $font-size-btn;
    line-height: 15.6px;
    text-transform: uppercase;
    letter-spacing: 3px;
    &.active{
        background-color: $primary-color !important;
        color:#ffffff !important;
    }
    &:hover{
        background-color: $primary-color;
    }
}