.card {
	margin: 10px 0;
	height: calc(100% - 20px);
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.13);
	border-radius: 2px !important;
	min-height: 225px;

	.card-img {
		min-height: 150px;
		background-position: center center;
		background-size: cover;
	}

	.card-img,
	.dummy {
		position: relative;

		&::after {
			position: absolute;
			left: 0;
			top: 0;

			height: 100%;
			width: 100%;
			content: "";
			background: rgba(0, 0, 0, 0);
			transition: background 0.1s;
		}

		&:hover {
			&::after {
				background: rgba(0, 0, 0, 0.5);
			}
		}
	}

	.dummy {
		display: flex;
		background: $primary-color;
		justify-content: center;
		align-items: center;
		min-height: 150px;
	}

	&.element-item {
		float: left;
	}
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.card-title {
		font-size: $font-size-content;
		line-height: 20.8px;
		text-align: center;

		margin-bottom: 0;
		padding-bottom: 0.75rem;
		text-transform: uppercase;
		letter-spacing: 3.2px;
	}

	.card-text {
		font-size: $font-size-content-small;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.15px;
	}
}

.card-bottom-content {
	display: flex;
	justify-content: space-between;

	.left-content {
		font-size: $font-size-content-small;
		line-height: 22px;

		display: flex;
		letter-spacing: 0.15px;

		.circle {
			margin: 6px 9px 6px 0;
			height: 10px;
			width: 10px;

			display: block;
			border-radius: 50%;
		}

		p {
			margin: 0;
		}
	}
}

.card-btn-content {
	> a {
		display: flex;

		&:hover {
			text-decoration: none;
		}
	}

	.card-link-letter {
		margin: 7px 7px 0 0;
		height: 18px;
		width: 18px;

		display: block;
	}

	.card-link {
		padding-right: 2px;

		display: flex;
		border-bottom: 1px solid $primary-color;
		align-items: center;

		a {
			font-size: $font-size-content-small;

			display: block;
			letter-spacing: 0.15px;
			text-decoration: none;
		}

		.card-link-arrow {
			@extend .arrow;
			position: relative;
			bottom: -1px;
			right: -3px;
		}
	}
}

.card-btn-content-center {
	display: flex;
	justify-content: center;
}
