.main-footer{
    background-color: $primary-color;
    color:#ffffff;
    padding: 55px 0 30px;
    @media screen and (max-width:568px){
        .title{
            font-size: $font-size-title-small;
        }
    }
}

.footer-info{
    padding-top:35px;
    height: 100%;
    a{
        max-width: 219px;
        display: block;
        img{
            width: 100%;
        }
    }
    .footer-info-text{
        text-align: center;
        color: #687593;
        font-size: 10px;
        font-weight: 300;
        line-height: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.footer-content{
    &::after{
       padding-top:35px;
    }
}