.main-footer {
	@media screen and (max-width: 568px) {
		.title {
			font-size: $font-size-title-small;
		}
	}
	padding: 55px 0 30px;

	color: #fff;
	background-color: $primary-color;
}

.footer-info {
	padding-top: 35px;
	height: 100%;

	a {
		display: block;
		max-width: 219px;

		img {
			width: 100%;
		}
	}

	.footer-info-text {
		font-size: 10px;
		font-weight: 300;
		line-height: 13px;
		text-align: center;

		color: #687593;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

.footer-content {
	&::after {
		padding-top: 35px;
	}
}