.main-header {
	text-align: center;

	padding: 25px 0;
	background-color: rgba(0, 8, 28, 0.9);

	a {
		display: inline-block;
		max-width: 180px;

		.logo {
			width: 100%;

			display: block;
		}
	}
}