.main-header{
    padding:27px 0;
    background-color: rgba(0,8,28,.9);
    a{
        display: block;
        max-width: 182px;
        height: 7px;
        .logo{
            width: 100%;
            display: block;
        }
    }
}