$primary-color: #00081c;
$line-color: #cdbc7a;

//bootstrap start
$primary: $primary-color;
$font-family-base: "DW Futura Std";
$font-weight-base: 300;
$border-radius: 2px;

//col-padding
$grid-gutter-width: 20px;
$card-inner-border-radius: 0;

//------btn
$btn-line-height: 15.6px;
$btn-padding-y-sm: 10px;
$btn-padding-x-sm: 11px;
$btn-padding-y-lg: 17px;
$btn-padding-x-lg: 40px;
$btn-border-radius-lg: 1px;

// //bootstrap end
$font-size-content-small: 14px;
$font-size-content: 16px;
$font-size-title: 24px;
$font-size-title-small: 20px;
$font-size-btn: 12px;


