{{define "main"}}

  <section class="info-section">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="info-content block-line">
          {{ if .Title }}
          <h1 class="title">
            {{ .Title }}
          </h1>
          {{ end }}
          <div class="content-text">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{- partial "content-section.html" . -}}
  {{- partial "thoughts-section.html" . -}}
  {{- partial "external-articles.html" . -}}

{{ end }}

