<section class="items-section block-line">
  <div class="container">

    <!--  Auto generating filters -->
    {{ range $.Site.Data.content.articles }} {{ $.Scratch.Add "categories" (slice .language) }} {{ end }}
    <!--  Auto generating filters end -->

    <ul id="filters" class="button-block">
      <li>
        <a href="" class="btn btn-sm btn-outline-secondary active" data-filter="*">
          All
        </a>
      </li>
      {{ range .Scratch.Get "categories" | uniq }}
      <li>
        <a href="#" class="btn btn-sm btn-outline-secondary" data-filter=".{{ . | lower }}">
          {{ . }}
        </a>
      </li>
      {{ end}}

    </ul>

    <div class="row grid">
      {{ range $.Site.Data.content.articles }}
      <div class="col-lg-4 col-md-6 element-item {{ .language | lower }}">
        <!--  card -->
        <div class="card" target="_blank">
          <div class="card-body">
            <div class="card-body-text">
              <h4 class="card-title">
                <a href="{{ .github }}">{{ .title }}</a>
              </h4>
              <div class="card-text">
                <p>
                  <a href="{{ .github }}">{{ .content }}</a>
                </p>
              </div>
            </div>
            <div class="card-bottom-content">
              <div class="left-content">
                <span class="circle {{ .language | lower }}"></span>
                <p>{{ .language }}</p>
              </div>
              {{ if .medium }}
              <div class="card-btn-content">
                <a href="{{ .medium }}">
                  <svg class="card-link-letter" viewBox="0 0 24 24">
                    <use xlink:href="#medium"></use>
                  </svg>
                  <div class="card-link">
                    Read more
                    <svg class="card-link-arrow" viewBox="0 0 9 9">
                      <use xlink:href="#arrow"></use>
                    </svg>
                  </div>
                </a>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        <!--  .card -->
      </div>
      {{ end }}
    </div>
  </div>
</section>