<footer class="main-footer">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="footer-content block-line">
                <h2 class="title">
                    {{ $.Site.Params.footerTitle }}
                </h2>
                <div class="content-text">
                    {{ $.Site.Params.footerDescriptions }}
                </div>
            </div>
        </div>
        {{- partial "career-section.html" . -}}
        <div class="d-flex justify-content-center">
            <div class="footer-info">
                <a href="/">
                    <img src="img/logo.svg" alt="">
                </a>
                <div class="footer-info-text">
                    {{ .Site.Copyright }}
                </div>
            </div>
        </div>
    </div>
</footer>