<section class="main-header fixed-top">
    <div class="container">
        <div class="d-flex justify-content-center">
            <a href="/">
                <img src="img/logo.png" alt="" class="logo"/>
            </a>
        </div>
    </div>
</section>
<section class="hero" style="background-image: url(img/hero-banner.jpg)">
</section>
<section class="info-section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="info-content block-line">
                <h1 class="title">
                    LOREM IPSUM GENERATOR
                </h1>
                <div class="content-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>